.App {
  text-align: center;
  background-color: rgb(10, 194, 223);
  padding: 2%;
}

img {
  width: 300px;
  border: 5px solid bisque;
}

.list {
  font-size: large;
  font-family: cambria;
  padding: 20px;
  margin: 20px auto;
  border: 5px solid black;
  width: 500px;
  list-style: none;
}

button {
  background-color: bisque;
  border: 2px black solid;
  border-radius: 5%;
  padding: 5px;
  margin: 5px;
  width: 100px;
}

button:active {
  box-shadow: 2px 2px 2px grey;
}

.images {
  padding: 20px;
}
